<a href="https://colab.research.google.com/github/marcinBrzew/Todo/blob/master/Heiken_Ashi_Indicator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

In [ ]:
!pip install pandas_ta

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import yfinance as yf
import pandas_ta as ta

In [6]:
data=yf.download(tickers='EURUSD=X',start='2022-03-01',end='2023-03-01')
data.drop(['Volume'],axis=1, inplace=True)
data.head(10)

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close
Date
2022-03-01  1.121466  1.123217  1.110211  1.121592   1.121592
2022-03-02  1.113102  1.114194  1.105852  1.113276   1.113276
2022-03-03  1.111358  1.111605  1.103984  1.111235   1.111235
2022-03-04  1.106929  1.106929  1.089004  1.106684   1.106684
2022-03-07  1.087394  1.093075  1.080859  1.087453   1.087453
2022-03-08  1.086957  1.092216  1.085117  1.086531   1.086531
2022-03-09  1.090085  1.109115  1.089788  1.089823   1.089823
2022-03-10  1.107334  1.111617  1.098213  1.107383   1.107383
2022-03-11  1.101212  1.104192  1.093470  1.101394   1.101394
2022-03-14  1.093255  1.098696  1.090251  1.093207   1.093207