<a href="https://colab.research.google.com/github/marcinBrzew/Todo/blob/master/RSI_SMA_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance 
!pip install ta 
!pip install pandas

In [5]:
import pandas as pd 
import yfinance as yf
import ta 
import numpy as np

In [17]:
df=yf.download('^GSPC',start='2000-01-01')
df['SMA200']=ta.trend.sma_indicator(df.Close, window=200)
df['RSI']=ta.momentum.rsi(df.Close,window=10)
df['Signal']=np.where((df.Close>df.SMA200)&(df.RSI<30),True,False)
Buying_dates=[]
Selling_dates=[]

for i in range(len(df)):
  if df.Signal.iloc[i]:  
    Buying_dates.append(df.iloc[i+1].name)
    for j in range(1,11):
      if df['RSI'].iloc[i+j]>40:
         Selling_dates.append(df.iloc[i+1].name)
         break
        #  Sprzedarz po 10 dniach 
      elif j ==10:
        Selling_dates.append(df.iloc[i+1].name)

[*********************100%***********************]  1 of 1 completed

In [19]:
frame=pd.DataFrame({'Buying_dates':Buying_dates,'Selling_dates':Selling_dates})
frame

   Buying_dates Selling_dates
0    2004-03-12    2004-03-12
1    2004-05-11    2004-05-11
2    2005-03-23    2005-03-23
3    2005-03-24    2005-03-24
4    2005-03-28    2005-03-28
..          ...           ...
57   2020-02-26    2020-02-26
58   2020-02-27    2020-02-27
59   2020-10-29    2020-10-29
60   2021-09-21    2021-09-21
61   2021-09-22    2021-09-22

[62 rows x 2 columns]